<div class="container">
    <h2>New Book</h2>
    <form class="form-control">
        <div>
            <label  for="">Book name </label>
            <input class="form-control" type="text">
        </div>
        <div>
            <label  for="">Author </label>
            <input class="form-control" type="text">
        </div>
        <div>
            <label  for="">Discription </label>
            <input class="form-control" type="text">
        </div>
        <div>
            <button class="btn btn-success">Submit</button>
        </div>
       
    </form>
</div>
